
BETTER_AUTH_SECRET=done
BETTER_AUTH_URL=done

OPENAI_API_KEY=done
CORSAIR_KEK=done

GITHUB_CLIENT_ID=done
GITHUB_CLIENT_SECRET=done

NEXT_PUBLIC_APP_URL=done



GOOGLE_CLIENT_ID=done
GOOGLE_CLIENT_SECRET=done




# Recommended for most uses
DATABASE_URL=done

